body{
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F3F3;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color:white;

} */


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-family:'Ubuntu',sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items:center;
    justify-content:space-between;

}

.navbar .logo a{
    text-decoration: none;
    color: #f81e8b;
    text-shadow: #f81e8b;
    font-weight: bolder;
    font-size: 70px;
    transition: all 0.3s ease;
} 
.navbar .logo a:hover{
    color: red;
}
.navbar .menu li {
    list-style:none;
    display: inline-block;

    
}
.navbar .menu li a{
    color:#000000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:red;
}
.home{
    display:flex;
    font-size: 20px;
    color:black;
    font-family: 'Inconsolata', monospace;
}
.home-content p{
    /* width: 18%;
    margin-top: 10%;
    border: 1.5px solid yellow; */
    font-size: 18px;
    font-style: normal;
    line-height: 1.8;
    font-family: 'Inconsolata', monospace;
    
}
p a{
    line-height: 1.8;
    font-size: 16px;
    color: red;
}

section{
    padding:50px 0;
}
.about, .skills,  footer, .social-links{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position:relative;
    text-align: center;
    line-height: 2.5;
    color: #008000;
    font-size: 25px;
    font-weight: 500;
}
.about .about.content.skills{
    height: 50vh;
    width:100px;
}
section{
    padding:40px;
}
h2{
    padding:5px;
    font-size: 20px;
    font-style:initial;
    margin-left: 2%;
    height: auto;
    color:#008000;
}

p{
    padding:5px;
    font-size: 18px;
    line-height: 1.8;
    margin-left: 2%;
    color:black;
    font-family:'Inconsolata', monospace;
    
    

}
h3{
    font-style: initial;
    margin-left: 3%;
    color:#008000;
}
ul{
   list-style-position: inside;
   list-style: disc;
   margin-left: 6%;
   line-height: 3.1;
   
    
}
section{
    padding: 30px 0;
}
h4{
    position:relative;
    text-align: left;
    height: 1px;
    margin-left: 1%;
    color:#008000;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}
*{
    font-family: sans-serif;
    padding: 0px;
}

.skills{
    width: 100%;
    margin-top: 5%;
    margin-left: 3%;
    color:black;

}
.info{
    display: flex;
    font-weight: 500;
    line-height: 2.5;
    margin-left: 1%;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}
.line{
    height:6px;
    width:100%;
    margin-left: 1%;
    background: lightgrey;
    position:relative;
}
.python {width: 60%; background-color:crimson;}
.java {width: 40%; background-color: blue;}
.html5{width: 90%; background-color: green;}
.css3 {width: 90%; background-color: violet;}
.sql {width: 50%; background-color: purple;}
h5{
    text-align: left;
    margin-left: 4%;
    font-size: 20px;
    color:#008000;
    line-height: 3.5;
}


.social-links{
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.social-links a i{
    border-radius: 50%;
}
a{
    width: 60px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.fa-twitter{
    font-size: 30px;
    color:#00ACEE;
}
.fa-free-code-camp{
    font-size:30px;
    color:green;
}
.fa-linkedin-in{
    font-size: 30px;
    color:#0077b5;
}
.fa-instagram{
    font-size:30px;
    color: #fd1d1d;;
}
.fa-github{
    font-size: 30px;
    color: #000000;
}

footer{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
a1{
    font-size:16px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: pink;
      
    }
    .home-content p{
        text-align: center;
    }
    .about-content  p{
        text-align:center;
        }
    .navbar ul  {
        display: none;
    }
    .about  ul{
        margin-left: 40px;
}
}
    
  